/* Main Styling */
html,
body {
  color: var(--fg-color2);
  background-color: var(--bg-color2);

  margin: 0;
  padding: 0;

  overflow-x: hidden;
}

#pageHeaderTheme {
  text-decoration: underline;
}

#theme-selection-section {
  position: absolute;
  top: 0;
  right: 0;
  width: 363px;
  border: 1px solid #000;
  background-color: var(--bg-color);
}

.movable {
  position: absolute;
  cursor: move;
  z-index: 10;
}

#theme-selection-options {
  margin: 0px 0px 10px 20px;
}

#vintage-images,
#contemporary-images {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 51%;
}

.center {
  margin: auto;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.flex-images {
  display: flex;
  justify-content: space-between;
}