/* Main Styling */
html,
body {
  color: var(--fg-color2);
  background-color: var(--bg-color2);

  margin: 0;
  padding: 0;

  overflow-x: hidden;
}

#pageHeaderTheme {
  text-decoration: underline;
}

#theme-selection-section {
  position: absolute;
  top: 0;
  right: 0;
  width: 363px;
  border: 3px solid #000;
  border-radius: 8px;
  box-shadow: -3px 3px 12px black;
  background-color: var(--bg-color);
}

.movable {
  position: absolute;
  cursor: move;
  z-index: 10;
}

#theme-selection-options {
  margin: 0px 0px 10px 20px;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}