:root {
  --desert-sand: #ddbea9;
  --antique-brass: #cb997e;
  --champagne-pink: #ffe8d6;
  --ash-gray: #b7b7a4;
  --artichoke: #a5a58d;
  --ebony: #6b705c;
  /* background colors */
  --bg-color: var(--ebony);
  --bg-color2: var(--ebony);

  /* foreground colors */
  --fg-color1: var(--champagne-pink);
  --fg-color2: var(--champagne-pink);

  /* shadow colors */
  --shadow-color: var(--ash-gray);

  /* highlight colors */
  --highlight-color: var(--antique-brass);
}

@font-face {
  font-family: Modak-Regular;
  src: url(../assets/fonts/vintage/Modak/Modak-Regular.ttf);
  font-family: Monoton;
  src: url(../assets/fonts/vintage/Monoton/Monoton-Regular.ttf);
  font-family: Ultra;
  src: url(../assets/fonts/vintage/Ultra/Ultra-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Styling */
html,
body {
  font-family: 'Monoton', 'Modak-Regular';
  line-height: 1.7em;
}

.background {
  background: var(--ebony);
  border-radius: 50%;

}

h1 {
  font-family: 'Ultra', 'Monoton', 'Modak-Regular';
  line-height: 1.7em;

  position: relative;
  text-align: center;
  margin: 0.625rem;
}

h2 {
  position: relative;
  text-align: center;
  margin: 0.625rem;
}

#theme-selection-section {
  position: absolute;
  top: 0;
  right: 0;
  width: 363px;
  border: 1px solid #000;
  border-radius: 8px;
  box-shadow: -3px 3px 12px black;
  background-color: var(--bg-color);
}

.select-theme-title {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

#vintage-livestream {
  width: 400px;
  height: 400px;
}

#vintage-images {
  display: flex !important;
  justify-content: space-around;
  margin: auto;
  width: 51%;
}

#vintage-image-1,
#vintage-image-2 {
  border-radius: 50%;
  border: solid black 3px;
}

#livestream-outer,
#livestream-inner {
  height: 400px;
  width: 400px;
}

#livestream-outer {
  display: inline-block;
  position: relative;
}

#livestream-inner {
  overflow: hidden;
  border-radius: 50%;
  position: absolute;
}